WECHAT_TOKEN=

TAOBAO_APP_KEY=
TAOBAO_APP_SECRET=
TAOBAO_ADZONE_ID=
TAOBAO_PID=

JD_APP_KEY=
JD_APP_SECRET=
JD_PID=
JD_SITE_ID=
JD_POSITION_ID=
JD_SCENE_ID=

VIP_APP_KEY=
VIP_APP_SECRET=
VIP_CHAN_TAG=
VIP_ACCESS_TOKEN=
VIP_STAT_PARAM=
VIP_PLATFORM=
